
{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>
<body>
{% block content %}
<div class="container">
    <div class="header_section_top">
       <div class="row">
          <div class="col-sm-12">
             <div class="custom_menu">
                <ul>
                   <li><a href="{% url 'home:all_prod_cat' %}">home</a></li>
                   <li><a href="#">New Releases</a></li>
                   <li><a href="#">Today's Deals</a></li>
                   <li><a href="#">Customer Service</a></li>
                </ul>
             </div>
          </div>
       </div>
    </div>
    <div class="row my_prod_row_class">
        <div class="mx-auto">
            <p><a href="{% url 'home:all_prod_cat' %}">Home</a> | <a href="{{ product.category.get_url }}">{{ product.category }}</a> - {{ product.name }}</p>
        </div>
        <div class="container">
            <br>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                    <div style="min-width: 18rem;">
                        <img src="{{ product.image.url }}" style="width: 300px;" alt="{{ product.name }}">
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div>
                        <h1 class="my_prod_title">{{ product.name }}</h1>

                        {% if product.stock >= 1 %}
                        <p class="text-justify my_prod_text"><h3>In stock</h3></p>
                        {% elif product.stock <= 0 %}
                        <p class="text-justify my_prod_text"><h3>Out of stock</h3></p>
                        {% else %}
                        {% endif %}
                        <p><h3>₹ {{ product.price }}</h3></p>
                        <p class="my_title">Product description</p><br>
                        <p class="text-justify my_prod_text"><h4>{{ product.description }}</h4></p>
                        <br>
                        <br>
                        <a class="btn btn-secondary" href="{% url 'cart:add_cart' product.id %}">Add to cart</a>
                        &nbsp;
                        <a class="btn btn-warning" href="{% url 'start:payment' %}">Buy now</a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>





